<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Authentication</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/2441406a2d.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="./public/style.css" media="screen">
		<script src="./public/script.js" charset="utf-8" defer></script>
	</head>

	<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">

		<main class="main-section">
			<h1><i class="fa-solid fa-user-lock"></i> Forget Password</h1>

      <fieldset class="format" id="password-finder">
        <legend class="format-label">Find your password!</legend>
      	<div>
          <label for="Username">Username</label>
        	<input type="textarea" class="input-box">
          <label for="Password">Email</label>
  				<input type="textarea" class="input-box">
      	</div>
  			<p class="button-container"><input type="submit" value="Submit" class="modal-button">
        <input type="submit" value="Cancel" class="modal-button"></p>
  		</fieldset>
		</main>
	</body>
</html>
