<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Authentication</title>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/2441406a2d.js" crossorigin="anonymous"></script>
	</head>

	<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false">
		{% extends "base.html" %}
		{% block body %}
		<main class="main-section">
			<h1><i class="fa-solid fa-user-lock"></i>Logged in Successfully!!</h1>
		</main>
		{% endblock %}
	</body>
</html>
